/vendor
/docker/dbdata
.env
/storage/app
/storage/framework
/storage/logs
/storage/oauth-private.key
/storage/oauth-public.key
Homestead.json
Homestead.yaml
.phpunit.result.cache
/.idea
/public/coverage

